/* Main SASS File for Roku Application*/

// Default Styles

.hide {
  display: none;
}

.block1 {
  background-color: rgba(153,153,153,1);
}

.block2 {
  background-color: rgba(204,204,204,1);
}

// Custom Styles

#headerCon {
  height: 90px;
}

#welcomeCon {
  height: 400px;
}

#profilesCon {
  height: 500px;
}

#eraCon {
  height: 300px;
}

#footerCon {
  height: 90px;
}
